first_flow.local.json
[{"id":"ade6fb46.9062c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf8caaf5.95f758","type":"tab","label":"event -emiter","disabled":false,"info":""},{"id":"210657ee.a8b5d8","type":"inject","z":"ade6fb46.9062c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2160,"y":280,"wires":[["36971127.d90c8e"]]},{"id":"36971127.d90c8e","type":"debug","z":"ade6fb46.9062c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2839.0000915527344,"y":274.8965482711792,"wires":[]},{"id":"da3e0580.5c2008","type":"http in","z":"ade6fb46.9062c8","name":"Qestions GET","url":"/questions","method":"get","upload":false,"swaggerDoc":"","x":2144.1230545043945,"y":365.08202934265137,"wires":[["e8cab20c.40036"]]},{"id":"dece4383.1c29b","type":"http response","z":"ade6fb46.9062c8","name":"","statusCode":"","headers":{},"x":2925.121181488037,"y":512.7404613494873,"wires":[]},{"id":"c1baee88.f9da5","type":"http request","z":"ade6fb46.9062c8","name":"[POST] Sign-in","method":"POST","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/auth/sign-in","tls":"","x":2532.998077392578,"y":387.88490104675293,"wires":[["4a9bb726.a71f38"]],"inputLabels":["payload"]},{"id":"e8cab20c.40036","type":"function","z":"ade6fb46.9062c8","name":"Set login params","func":"msg.method = \"POST\";\nmsg.payload = {\n    username: 'volodymyrtymets@gmail.com',\n    password: '123456',\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":2333.996139526367,"y":384.8086757659912,"wires":[["c1baee88.f9da5"]]},{"id":"49286e55.e5ec2","type":"http request","z":"ade6fb46.9062c8","name":"[GET] Question","method":"GET","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/questions","tls":"","x":2656.9981842041016,"y":481.13690185546875,"wires":[["924fe2a6.8d13a"]]},{"id":"4a9bb726.a71f38","type":"function","z":"ade6fb46.9062c8","name":"Set token","func":"msg.method = \"GET\";\nmsg.headers = { Authorization: 'Bearer ' + msg.payload.token}\nreturn msg;","outputs":1,"noerr":0,"x":2498.9981002807617,"y":464.77545642852783,"wires":[["36971127.d90c8e","49286e55.e5ec2"]]},{"id":"924fe2a6.8d13a","type":"template","z":"ade6fb46.9062c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Question </h1>\n\n{{#payload.questions}}\n    <li>{{title}}</li>\n{{/payload.questions}}","output":"str","x":2809.000011444092,"y":537.6777801513672,"wires":[["dece4383.1c29b"]]},{"id":"d52a7a3f.19c8c8","type":"inject","z":"bf8caaf5.95f758","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2160,"y":280,"wires":[["930040de.505d3"]]},{"id":"930040de.505d3","type":"debug","z":"bf8caaf5.95f758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2810,"y":280,"wires":[]},{"id":"1241188c.6c4837","type":"http in","z":"bf8caaf5.95f758","name":"Qestions GET","url":"/questions","method":"get","upload":false,"swaggerDoc":"","x":2144.1230545043945,"y":365.08202934265137,"wires":[["b17bd256.cdf68"]]},{"id":"464df37a.3cba3c","type":"http response","z":"bf8caaf5.95f758","name":"","statusCode":"","headers":{},"x":2925.121181488037,"y":512.7404613494873,"wires":[]},{"id":"e205439d.0de68","type":"http request","z":"bf8caaf5.95f758","name":"[POST] Sign-in","method":"POST","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/auth/sign-in","tls":"","x":2532.998077392578,"y":387.88490104675293,"wires":[["9539eef2.7d9f7"]],"inputLabels":["payload"]},{"id":"b17bd256.cdf68","type":"function","z":"bf8caaf5.95f758","name":"Set login params","func":"msg.method = \"POST\";\nmsg.payload = {\n    username: 'volodymyrtymets@gmail.com',\n    password: '123456',\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":2333.996139526367,"y":384.8086757659912,"wires":[["e205439d.0de68"]]},{"id":"be080d61.210e4","type":"http request","z":"bf8caaf5.95f758","name":"[GET] Question","method":"GET","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/questions","tls":"","x":2656.9981842041016,"y":481.13690185546875,"wires":[["5c1d7b0b.4179f4"]]},{"id":"9539eef2.7d9f7","type":"function","z":"bf8caaf5.95f758","name":"Set token","func":"msg.method = \"GET\";\nmsg.headers = { Authorization: 'Bearer ' + msg.payload.token}\nreturn msg;","outputs":1,"noerr":0,"x":2498.9981002807617,"y":464.77545642852783,"wires":[["930040de.505d3","be080d61.210e4"]]},{"id":"5c1d7b0b.4179f4","type":"template","z":"bf8caaf5.95f758","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Question </h1>\n\n{{#payload.questions}}\n    <li>{{title}}</li>\n{{/payload.questions}}","output":"str","x":2809.000011444092,"y":537.6777801513672,"wires":[["464df37a.3cba3c"]]},{"id":"46c7e85.f144418","type":"inject","z":"bf8caaf5.95f758","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":220,"wires":[["39f76bf5.3db544"]]},{"id":"39f76bf5.3db544","type":"exec","z":"bf8caaf5.95f758","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":220,"wires":[[],[],[]]}]