first_flow.local.json
[{"id":"ade6fb46.9062c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"210657ee.a8b5d8","type":"inject","z":"ade6fb46.9062c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2160,"y":280,"wires":[["36971127.d90c8e"]]},{"id":"36971127.d90c8e","type":"debug","z":"ade6fb46.9062c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2839.0000915527344,"y":274.8965482711792,"wires":[]},{"id":"da3e0580.5c2008","type":"http in","z":"ade6fb46.9062c8","name":"Qestions GET","url":"/questions","method":"get","upload":false,"swaggerDoc":"","x":2144.1230545043945,"y":365.08202934265137,"wires":[["e8cab20c.40036"]]},{"id":"dece4383.1c29b","type":"http response","z":"ade6fb46.9062c8","name":"","statusCode":"","headers":{},"x":2925.121181488037,"y":512.7404613494873,"wires":[]},{"id":"c1baee88.f9da5","type":"http request","z":"ade6fb46.9062c8","name":"[POST] Sign-in","method":"POST","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/auth/sign-in","tls":"","x":2532.998077392578,"y":387.88490104675293,"wires":[["4a9bb726.a71f38"]],"inputLabels":["payload"]},{"id":"e8cab20c.40036","type":"function","z":"ade6fb46.9062c8","name":"Set login params","func":"msg.method = \"POST\";\nmsg.payload = {\n    username: 'volodymyrtymets@gmail.com',\n    password: '123456',\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":2333.996139526367,"y":384.8086757659912,"wires":[["c1baee88.f9da5"]]},{"id":"49286e55.e5ec2","type":"http request","z":"ade6fb46.9062c8","name":"[GET] Question","method":"GET","ret":"obj","url":"https://apiko-ask.herokuapp.com/api/v1/questions","tls":"","x":2656.9981842041016,"y":481.13690185546875,"wires":[["924fe2a6.8d13a"]]},{"id":"4a9bb726.a71f38","type":"function","z":"ade6fb46.9062c8","name":"Set token","func":"msg.method = \"GET\";\nmsg.headers = { Authorization: 'Bearer ' + msg.payload.token}\nreturn msg;","outputs":1,"noerr":0,"x":2498.9981002807617,"y":464.77545642852783,"wires":[["36971127.d90c8e","49286e55.e5ec2"]]},{"id":"924fe2a6.8d13a","type":"template","z":"ade6fb46.9062c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Question </h1>\n\n{{#payload.questions}}\n    <li>{{title}}</li>\n{{/payload.questions}}","output":"str","x":2809.000011444092,"y":537.6777801513672,"wires":[["dece4383.1c29b"]]}]